<h2>Hello.</h2>

<p>I'm Katharine!  I'm a software engineering intern at Read the Docs, a freelance event planner, and a Sociology graduate from Reed College.</p>

<p>I am a New Yorker living in Portland, and am in search for a junior software engineering position in Portland, OR and San Francisco, CA. I have worked at Puppet Labs and MVMREPORT. For fun, I organize events for friends and for the Portland Argentine tango community.</p>  

<p>Dancing Argentine <b>tango</b>, aging <b>beef</b>, and distilling <b>whiskey</b> are some of my interests.</p>

<p>If you have a project or creative need that I can help with, please get in touch.</p>  