<div class="container" id="orange">
  <p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contacts"><b>Contact Form</b></a></li>
      <li><a href="http://www.facebook.com/kchen5"><image src="./assets/png/facebook.png"></a></li>
      <li><a href="http://www.linkedin.com/in/katharinechen/"><image src="./assets/png/linkedin.png"></a></li>
      <li><a href="http://www.github.com/katharinechen"><image src="./assets/png/github.png"></a></li>
      <li><a href="mailto:katharinechen.ny@gmail.com"><image src="./assets/png/mail.png"></a></li>
    <ul>
</div>